.btn {
  background: #1e86ff;
  color: white;
  border: 1px solid #1e86ff;
  padding: 10px;
  border-radius: 10px;
}
.btn-full {
  width: 80px;
  background: white;
  color: black;
  border: 1px solid black;
}
.btn-footer:hover {
  background: white;
  color: #1e86ff;
}
