.btn {
  background: #1e86ff;
  color: white;
  border: 1px solid #1e86ff;
  padding: 10px;
  border-radius: 4px;
}
.btn-full {
  background: white;
  color: black;
  border: 1px solid black;
}
.pagination {
  li:hover {
    background: white;
    a {
      color: #1e86ff;
    }
  }
}
