.wrapper {
  height: 100vh;
  margin: auto;
  max-width: 1200px;
  display: flex;
  background: #eef1f2;
  flex-direction: column;
  padding: 0 10px;
}
@media (min-width: 360px) and (max-width: 810px) {
  .wrapper {
    width: 360px;
    margin: auto;
    height: 100%;
  }
}

main {
  flex-grow: 1;
  .section-one {
    position: relative;
    display: flex;

    .job-search {
      display: flex;
      position: absolute;
      width: 90%;
      top: 30%;
      left: 5%;
    }
  }
  .section-two {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    .section-left {
      width: 30%;
      margin-bottom: 10px;
      h3 {
        color: #b9bdcf;
        margin-top: 3%;
        margin-bottom: 3%;
      }
    }
    .section-right {
      width: 60%;
      .div-right {
        img {
          height: 15px;
          filter: brightness(0) saturate(100%) invert(83%) sepia(12%)
            saturate(308%) hue-rotate(192deg) brightness(94%) contrast(83%);
        }
      }
    }
  }
  .section-three {
    width: 97.5%;
  }
}

/*
poner el footer siempre abajo pegado a la pantalla

.wrapper{
  height:100vh;
  margin:auto;
  max-width-940px;
  display:flex;
  flex-direction:column;
}
.main{
  flex-grow:1 (Agarra el espacio sobrante)Depende de la direccion del flex
}
*/
